@import 'common.css';

/* コンテンツ領域 */
body {
  width: 600px;
  margin: 10px auto;
}

/* グループ分け */
section {
  margin-bottom: 40px;
}

/* ログアウトリンク表示 */
h1 .logout {
  font-size: 50%;
}

/* 記事リスト・コメントリストの全体枠 */
table {
  width: 100%;
  border: solid 1px #222;
  border-collapse: collapse;
  margin-bottom: 20px;
}

/* 記事リスト・コメントリストの各セル */
table th,
table td {
  border: solid 1px #444;
  padding: 4px;
}

/* 記事リスト・コメントリストの操作列のリンク配置 */
table .operation-column {
  display: flex;
  justify-content: space-around;
}

/* コメントリストの項目 */
#comment-list .posted {
  width: 20ch;
}
#comment-list .comment-delete {
  width: 5ch;
}

/* ブログ記事投稿ページのタイトルと本文 */
form[name=edit] input[name=title],
form[name=edit] textarea[name=content] {
  width: 100%;
  padding: 4px;
}

/* ブログ記事投稿ページの本文 */
form[name=edit] textarea[name=content] {
  height: 250px;
}

/* ブログ記事投稿ページで表示する投稿画像 */
form[name=edit] .image {
  max-width: 100%;
  height: auto;
}

/* ブログ記事投稿ページの投稿画像削除チェックボックス */
.checkbox-label {
  display: inline-flex;
  align-items: center;
  margin-bottom: 5px;
}
.checkbox-label > span {
  line-height: 1;
}

/* ブログ記事投稿フォームのボタンや戻るリンクの行 */
form[name=edit] .form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/* パスワード変更フォーム */
.password-inputs {
  margin-bottom: 20px;
}
.password-inputs * {
  display: block;
}
.password-inputs input {
  width: 100px;
  margin-bottom: 10px;
}
