@import 'common.css';

/* コンテンツ領域 */
body {
  width: 600px;
  margin: 10px auto;
}

/* ブログ記事投稿ページのタイトルと本文 */
form[name=edit] input[name=title],
form[name=edit] textarea[name=content] {
  width: 100%;
  padding: 4px;
}

/* ブログ記事投稿ページの本文 */
form[name=edit] textarea[name=content] {
  height: 250px;
}

/* ブログ記事投稿フォームのボタンや戻るリンクの行 */
form[name=edit] .form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
