@import 'common.css';

/* コンテンツ領域 */
body {
  width: 600px;
  margin: 10px auto;
}

/* グループ分け */
section {
  margin-bottom: 40px;
}

/* 記事リストの全体枠 */
table {
  width: 100%;
  border: solid 1px #222;
  border-collapse: collapse;
}

/* 記事リストの各セル */
table th,
table td {
  border: solid 1px #444;
  padding: 4px;
}

/* 記事リストの操作列のリンク配置 */
table .operation-column {
  display: flex;
  justify-content: space-around;
}

/* ブログ記事投稿ページのタイトルと本文 */
form[name=edit] input[name=title],
form[name=edit] textarea[name=content] {
  width: 100%;
  padding: 4px;
}

/* ブログ記事投稿ページの本文 */
form[name=edit] textarea[name=content] {
  height: 250px;
}

/* ブログ記事投稿フォームのボタンや戻るリンクの行 */
form[name=edit] .form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
